@font-face {
  font-family: "Exo 2";
  src: url("./../fonts/Exo2-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("./../fonts/PTSans-Regular.ttf") format("truetype");
  font-weight: 400px;
  font-style: normal;
}
