.hero__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 6.8125vw 4.1875vw;
  gap: 60px;
  .hero__text {
    width: 525px;
    h1 {
      font-family: "Exo 2", sans-serif;
      font-size: 52px;
      font-weight: 600;
      line-height: 65px;
      margin-bottom: 40px;
    }
    p {
      margin-bottom: 2.5vw;
    }
  }
  .hero__img {
    width: 640px;
  }
}

@media (max-width: 768px) {
  .hero__container {
    flex-direction: column;
    padding-block: 14.625vw 5.125vw;
    .hero__text {
      width: 100%;
      text-align: center;
      margin-bottom: 3.125vw;
      h1 {
        font-size: 44px;
        margin-bottom: 6.125vw;
      }
      p {
        margin-bottom: 5.5vw;
      }
      button {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 9vw;
      }
    }
    .hero__img {
      width: 100%;
    }
  }
}
@media (max-width: 537px) {
  .hero__container {
    padding-block: 72px 56px;
    .hero__text {
      text-align: left;
      h1 {
        max-width: 344px;
        font-size: 28px;
        line-height: 35px;
        margin-bottom: 32px;
      }
      P {
        font-size: 15px;
        line-height: 22.5px;
        margin-bottom: 32px;
      }
      button {
        font-size: 15px;
        line-height: 22.5px;
        outline: none;
      }
    }
  }
}
