.service__container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
  box-shadow: 0px 4px 20px 0px #00000026;
  border-radius: 20px;
  border: 1px solid #d7d7dd;
  padding: 40px;
  margin-bottom: 67px;
  .service__item {
    margin-bottom: 2rem;
    .service__icon {
      width: 92px;
      margin-bottom: 24px;
    }
    .service__text {
      max-width: 225px;

      h2 {
        font-family: "Exo 2", sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 27px;
      }

      p {
        color: $grey;
      }
    }
  }
}
@media (max-width: 768px) {
  .service__container {
    grid-template-columns: none;
    box-shadow: none;
    border: none;
    padding: 0;
    .service__icon {
      margin: 0;
    }
    .service__item {
      display: flex;
      flex-wrap: wrap;
      gap: 32px;
      border-radius: 20px;
      padding: 32px;
      box-shadow: 0px 4px 15px 0px #0000001f;

      .service__text {
        max-width: 394px;
      }
    }
  }
}
@media (max-width: 576px) {
  .service__container {
    box-shadow: 0px 4px 15px 0px #0000001f;
    padding: 24px 27px 32px 32px;

    .service__item {
      box-shadow: none;
      padding: 0;
      margin-bottom: 24px;
      gap: 0;
      .service__icon {
        margin-bottom: 16px;
      }
    }
  }
}
