.why-us__container {
  padding: 178px 0 166.5px 90px;
  background-image: url(./../imgs/why1.png), url(./../imgs/why.png);
  background-repeat: no-repeat;
  margin-bottom: 73px;
  h1 {
    color: white;
    width: 362px;
  }
}
@media (max-width: 768px) {
  .why-us__container {
    padding: 112px 0 106px 85px;
    background-image: url(./../imgs/why1-t.png), url(./../imgs/why-t.png);
    h1 {
      width: 288px;
    }
  }
}
@media (max-width: 576px) {
  .why-us__container {
    padding: 0 0 48px;
    background-image: none;
    margin-bottom: 40px;
    h1 {
      width: 100%;
      color: black;
    }
  }
}
.why-us__bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px 120px;

  padding: 0 66px;
  margin-bottom: 120px;
  .why-us__item {
    max-width: 407px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    .why-us__icon {
      width: 80px;
      height: 80px;
    }
    .why-us__text {
      width: 291px;
    }
  }
}

@media (max-width: 992px) {
  .why-us__bottom {
    grid-template-columns: 1fr;
    gap: 49px;
    padding: 0;
    margin-bottom: 100px;
    .why-us__item {
      max-width: 537.52px;
      margin-inline: auto;
      gap: 40px;
      .why-us__icon {
        width: 89.25px;
      }
      .why-us__text {
        max-width: 399.59px;
        width: 100%;
      }
    }
  }
}
@media (max-width: 576px) {
  .why-us__bottom {
    margin-bottom: 72px;
    .why-us__item {
      margin-bottom: 38px;
      align-items: flex-start;
      .why-us__icon {
        width: 52px;
      }
    }
  }
}
